In [114]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import urllib2
import csv
import pandas as pd
import os
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

START_PAGE = 6
END_PAGE = 10
driver = webdriver.Firefox()
df = pd.DataFrame.from_csv('Stock code.csv', index_col=None)
df['Listing Date'] = 0

def build_url(stock_code):
    url = "http://www.hkex.com.hk/Market-Data/Securities-Prices/Equities/Equities-Quote?sym="+ str(stock_code) +"&sc_lang=en"
    return url

def main():    
    for i in range(len(df)):
        driver.get(build_url(df.loc[i, 'Stock Code']))
        time.sleep(1.5)
        list_date = driver.find_element_by_xpath('//*[@id="lhkexw-quoteequities"]/div[2]/div[3]/div[1]/div/div[2]/div[1]/div[3]/span[2]').text
        print list_date
        df.loc[i, 'Listing Date'] = list_date
        driver.close()
if __name__ == "__main__":
    main()

10 Sep 2003
07 Feb 2007
12 Jul 2007
02 Jul 2003
29 Jun 2007
19 Jun 2015
22 Dec 2011
13 Oct 2010
02 Mar 2004
30 Apr 2002
04 Jul 2007
13 Nov 2007
04 Jul 2008
19 Sep 2014
16 Jun 2004
09 Feb 2000
15 Aug 2002
22 Dec 2008
30 Mar 2006
12 Feb 2008
30 Oct 2009
24 Apr 2007
15 Nov 2002
06 Aug 2003
13 Jan 2009
15 Dec 2004
10 Jul 2008
31 Mar 2008
09 Dec 2004
15 May 2002
16 May 2008
26 Feb 2009
28 Mar 2014
18 Oct 2013**
12 Jun 2008
12 Jun 2015**
25 May 2011
22 Nov 2007
16 Dec 2005
02 Dec 1999
31 Jan 2000
09 Mar 2000
17 Apr 2000
17 Mar 2000
31 Mar 2000
12 Jul 2002
24 Jan 2000
20 Jul 2001
07 Dec 2001
13 Aug 2001
16 Dec 1999
28 Mar 2000
25 Nov 1999
14 Dec 2000
06 Apr 2000
25 Feb 2000
17 Jun 2004
07 Jul 2000
24 Apr 2001
16 Apr 2003
01 Nov 2001
30 Jun 2000
15 Oct 2001
20 Apr 2000
19 Jun 2000
02 Nov 2001
14 Apr 2000
07 Mar 2002
02 Aug 2000
17 Apr 2000
18 May 2000
21 Feb 2001
27 Jul 2000
31 Dec 2001
08 Sep 2000
03 May 2002
14 Jul 2000
31 Jan 2002
03 Jan 2001
10 Jul 2003
19 Jul 2002
05 Nov 2003
17 Oct 2002
16 Sep 2005
12 Dec 2002
12 Dec 2002
15 Nov 2002
13 Nov 2003
27 Feb 2006
14 Nov 2003
18 Jun 2004
20 Dec 2002
03 Jul 2003
09 May 2003
12 Aug 2003
04 Aug 2003
18 Feb 2004
08 Oct 2015**
20 Oct 2017
25 Oct 2017

In [117]:
df.to_csv('Stock code with listing date.csv')

In [78]:
f = pd.DataFrame.from_csv('Stock code.csv', index_col=None)

In [81]:
f['date'] = 0

In [87]:
f.loc[1,'date'] = 22

In [90]:
f.loc[1,'Stock Code']

568

In [64]:
f

            date (1, date) (1, (1, date))
Stock Code
565         aaaa      aaaa          asdas
568         aaaa      aaaa          asdas
569         aaaa      aaaa          asdas
572         aaaa      aaaa          asdas
573         aaaa      aaaa          asdas
574         aaaa      aaaa          asdas
579         aaaa      aaaa          asdas
580         aaaa      aaaa          asdas
581         aaaa      aaaa          asdas
582         aaaa      aaaa          asdas
658         aaaa      aaaa          asdas
672         aaaa      aaaa          asdas
691         aaaa      aaaa          asdas
699         aaaa      aaaa          asdas
700         aaaa      aaaa          asdas
702         aaaa      aaaa          asdas
703         aaaa      aaaa          asdas
705         aaaa      aaaa          asdas
707         aaaa      aaaa          asdas
708         aaaa      aaaa          asdas
712         aaaa      aaaa          asdas
717         aaaa      aaaa          asdas
728         aaaa      aaaa          asdas
737         aaaa      aaaa          asdas
750         aaaa      aaaa          asdas
753         aaaa      aaaa          asdas
756         aaaa      aaaa          asdas
757         aaaa      aaaa          asdas
763         aaaa      aaaa          asdas
766         aaaa      aaaa          asdas
...          ...       ...            ...
8095        aaaa      aaaa          asdas
8100        aaaa      aaaa          asdas
8103        aaaa      aaaa          asdas
8106        aaaa      aaaa          asdas
8108        aaaa      aaaa          asdas
8109        aaaa      aaaa          asdas
8111        aaaa      aaaa          asdas
8225        aaaa      aaaa          asdas
8226        aaaa      aaaa          asdas
8227        aaaa      aaaa          asdas
8228        aaaa      aaaa          asdas
8233        aaaa      aaaa          asdas
8235        aaaa      aaaa          asdas
8236        aaaa      aaaa          asdas
8239        aaaa      aaaa          asdas
8243        aaaa      aaaa          asdas
8247        aaaa      aaaa          asdas
8249        aaaa      aaaa          asdas
8250        aaaa      aaaa          asdas
8256        aaaa      aaaa          asdas
8258        aaaa      aaaa          asdas
8266        aaaa      aaaa          asdas
8270        aaaa      aaaa          asdas
8271        aaaa      aaaa          asdas
8273        aaaa      aaaa          asdas
2663        aaaa      aaaa          asdas
6080        aaaa      aaaa          asdas
8470        aaaa      aaaa          asdas
date        aaaa      aaaa          asdas
1              a       NaN          asdas

[102 rows x 3 columns]